body {
  background: #f4f6f9;
  color: #333;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  background: #0a2540;
  color: white;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
}

nav a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 700;
}

.hero {
  height: 500px;
  background: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470') center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.hero h2 {
  font-size: 50px;
  margin-bottom: 15px;
}

.hero button {
  padding: 12px 30px;
  border: none;
  background: #ffcc00;
  color: #0a2540;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.section {
  padding: 70px 10%;
  text-align: center;
}

.section h2 {
  margin-bottom: 40px;
  font-size: 32